<div class="container" style = "position:relative;">

    <h1>The Hipster Music Catalogue</h1>

    <div style="color:purple; margin-bottom:-14px" >
    <% flash.each do |key, msg| %>
          <%= content_tag :p, msg, id: key %>
    <% end %>
    </div>
    <div class="row">
        <div class="col-lg-4">
           <%= image_tag("hipster1_2.jpg", :alt => "he's soo hipster", :id => "hipster2") %>
        </div>
        <div class="col-lg-4">
        <h3>
            For: 
            <% if !@u.nil? %>
                <%= @u.name %>
            <%else%>
                Total Hipster
            <% end %>
        </h3>
        <% if !@u.nil? %>
            <img src="https://graph.facebook.com/<%=@u.uid%>/picture?type=large">
        <%else%>
            <%= image_tag("pholder.jpg", :size=>"180x180") %>
        <% end %>
    
    
        <% if flash[:notice] == " " %>
            <div class="progress progress-striped active">
              <div id="superprogress" class="progress-bar"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
              </div>
            </div>
        <% end %>

        <% if @u.nil? %>
            <div id = "button_div"> <button class = "btn btn-primary" onclick="location.href='/signin'">
                Discover which friend is hipsterest!</button> </div>
        <% else %>
            <div id = "button_div"> <button class = "btn btn-primary" onclick="location.href='/signout'">
            Sign Out</button> </div>
        <% end %>
    
        </div>
        <div class="col-lg-4">
            <%= image_tag("hipster2_2.jpg", :alt => "she's soo hipster", :id => "hipster1") %>
        </div>
    </div>
        <div class="row">
        <% if !@topHipsters.nil? %>
        <h3>Your Friend's Hipster Rankings</h3>
        <table class="table table-striped">
            <tr>
                <th>Friend</th>
                <th>Hipster Rank</th>
                <th>Hipster Score</th>
            </tr>

            <% @topHipsters.each_with_index do |hipster, i| %>
                <tr>
                    <td><%= link_to hipster.name, "https://facebook.com/#{hipster.id}" %></td>
                    <td><%= i+1 %></td>
                    <td><%= hipster.score %></td>
                </tr>
            <% end %>
        </table>
        <% end %>
        </div>
        <div class="row">
        <h3>Global Hipster Rankings</h3>
        <table class="table table-striped">
            <tr>
                <th>Name</th>
                <th>Hipster Rank</th>
                <th>Hipster Score</th>
            </tr>

            <% @globalTopHipsters.each_with_index do |hipster, i| %>
                <tr>
                    <td><%= link_to hipster.name, "https://facebook.com/#{hipster.id}" %></td>
                    <td><%= i+1 %></td>
                    <td><%= hipster.score %></td>
                </tr>
            <% end %>
        </table>
        </div>
    
        </div>
    </div>
        </div>

<footer>
    
    <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.hipstermusiccatalogue.com&amp;width=400&amp;height=80&amp;colorscheme=light&amp;layout=standard&amp;action=like&amp;show_faces=true&amp;send=false" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:400px; height:80px;" allowTransparency="true"></iframe><br>
    
    Created at the Facebook NorCal Hackathon by: <br>
    <a href="#">Johan Baversjo</a> | 
    <a href="#">Ray Smets</a> | 
    <a href="#">Shervin Shaikh</a> |
    <a href="#">Ramon Rovirosa</a>
    <br>
    <br><span style="font-size:0.8em;">Copyright &copy; 2013. All rights reserved.</span><br><br>
</footer>
    
    
</div>

<script>
    var fb_id = "<%= @fb_id || 0 %>";

    var pusher = new Pusher('c7f08532bae6835b8099');
    var channel = pusher.subscribe(fb_id);
    console.log('channel:',fb_id);
    channel.bind('done', function(data) {
      document.location.reload(true);
    });

    var $prog = $('#superprogress');
    channel.bind('progress', function(data) {
      console.log('progress', data);
       var progress_index = Math.round((data.current / data.total)*100);
       console.log(progress_index);
      $prog.animate({width:progress_index + "%"});
    });

    var target = document.getElementById("spinner");
    var spinner = new Spinner().spin(target);
    $(document).ready( function() {
        $('#signin').click(function(){
            document.location.href = "/signin";
        })
    });
</script>